@(S1:Bbguns ,S2:Bbguns,S3:Bbguns,S4:Bbguns,S5:Bbguns,S6:Bbguns )

<div class="container">
    <div class="jumbotron">
        <div class="row" >
            <div class="col-lg-6">
                <h1 style="background-color:lightblue ;font-family: 'AngsanaUPC' ;font-size: 40pt ;color: whitesmoke">M4A1 </h1>
                <p style="background: rgba(254, 227, 254, 0) ; font-family: AngsanaUPC ;font-size: 18pt ;color: black"> รหัส :@S1.getId<br>
                    ชื่อ :@S1.getName<br>
                    ราคา :@S1.getPrice<br>
                    วัสดุตัวปืน :@S1.getMaterial<br>
                    ระบบปืน :@S1.getSystem<br>
                    ประเภท :@S1.getType<br>
                    น้ำหนัก :@S1.getWeight<br>
                    ความยาว :@S1.getLength<br>
                </p>
                <center><img src="assets/images/M4.jpg" style="width: 220px": height="220px"></center>
            </div>
            <br><br>
            <div class="col-lg-6">
                <h1 style="background-color:lightblue ;font-family: 'AngsanaUPC' ;font-size: 40pt ;color: whitesmoke">barrett m82 </h1>
                <p style="background: rgba(255, 227, 255, 0) ; font-family: AngsanaUPC ;font-size: 18pt ;color: black"> รหัส :@S2.getId<br>
                    ชื่อ :@S2.getName<br>
                    ราคา :@S2.getPrice<br>
                    วัสดุตัวปืน :@S2.getMaterial<br>
                    ระบบปืน :@S2.getSystem<br>
                    ประเภท :@S2.getType<br>
                    น้ำหนัก :@S2.getWeight<br>
                    ความยาว :@S2.getLength<br>
                </p>
                <center><img src="assets/images/50.jpg" style="width: 220px": height="220px"></center>
            </div>

            </div>
        </div>
    </div>


<div class="container">
    <div class="jumbotron">
        <div class="row" >
            <div class="col-lg-6">
                <h1 style="background-color:lightblue ;font-family: 'AngsanaUPC' ;font-size: 40pt ;color: whitesmoke">G28 </h1>
                <p style="background: rgba(255, 226, 255, 0) ; font-family: AngsanaUPC ;font-size: 18pt ;color: black"> รหัส :@S3.getId<br>
                    ชื่อ :@S3.getName<br>
                    ราคา :@S3.getPrice<br>
                    วัสดุตัวปืน :@S3.getMaterial<br>
                    ระบบปืน :@S3.getSystem<br>
                    ประเภท :@S3.getType<br>
                    น้ำหนัก :@S3.getWeight<br>
                    ความยาว :@S3.getLength<br>
                </p>
                <center><img src="assets/images/G18.jpg" style="width: 220px": height="220px"></center>
            </div>
            <br><br>
            <div class="col-lg-6">
                <h1 style="background-color:lightblue ;font-family: 'AngsanaUPC' ;font-size: 40pt ;color: whitesmoke">GLM6 </h1>
                <p style="background: rgba(255, 227, 255, 0) ; font-family: AngsanaUPC ;font-size: 18pt ;color: black"> รหัส :@S4.getId<br>
                    ชื่อ :@S4.getName<br>
                    ราคา :@S4.getPrice<br>
                    วัสดุตัวปืน :@S4.getMaterial<br>
                    ระบบปืน :@S4.getSystem<br>
                    ประเภท :@S4.getType<br>
                    น้ำหนัก :@S4.getWeight<br>
                    ความยาว :@S4.getLength<br>
                </p>
                <center><img src="assets/images/Glm6.jpg" style="width: 220px": height="220px"></center>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <div class="row" >
            <div class="col-lg-6">
                <h1 style="background-color:lightblue ;font-family: 'AngsanaUPC' ;font-size: 40pt ;color: whitesmoke">Tiberius T9.1 </h1>
                <p style="background: rgba(255, 223, 255, 0) ; font-family: AngsanaUPC ;font-size: 18pt ;color: black"> รหัส :@S5.getId<br>
                    ชื่อ :@S5.getName<br>
                    ราคา :@S5.getPrice<br>
                    วัสดุตัวปืน :@S5.getMaterial<br>
                    ระบบปืน :@S5.getSystem<br>
                    ประเภท :@S5.getType<br>
                    น้ำหนัก :@S5.getWeight<br>
                    ความยาว :@S5.getLength<br>
                </p>
                <center><img src="assets/images/T9.jpg" style="width: 250px": height="250px"></center>
            </div>
            <br><br>
            <div class="col-lg-6">
                <h1 style="background-color:lightblue ;font-family: 'AngsanaUPC' ;font-size: 40pt ;color: whitesmoke">FAMAS </h1>
                <p style="background-color: white; font-family: AngsanaUPC ;font-size: 18pt ;color: black"> รหัส :@S6.getId<br>
                    ชื่อ :@S6.getName<br>
                    ราคา :@S6.getPrice<br>
                    วัสดุตัวปืน :@S6.getMaterial<br>
                    ระบบปืน :@S6.getSystem<br>
                    ประเภท :@S6.getType<br>
                    น้ำหนัก :@S6.getWeight<br>
                    ความยาว :@S6.getLength<br>
                </p>
                <center><img src="assets/images/Famas.jpg" style="width: 250px": height="250px"></center>
            </div>

        </div>
    </div>
</div>


