<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


    </head>
    <body>

        <div class="btn-group">
            <button type="button" class="btn ">
                <div id="demo" class="carousel slide" data-ride="carousel"  style="width: 1000px">

                        <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                        <!-- The slideshow -->
                    <div class="carousel-inner" style="width: 1000px">
                        <div class="carousel-item active">
                            <img src="/assets/images/M41.jpg" style="width: 1000px ; height: 550px" >
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/images/M42.jpg" style="width: 1000px ; height: 550px" >
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/images/M43.jpg" style="width: 1000px ; height: 550px" >
                        </div>
                    </div>

                        <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev" >
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next" >
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </button>
        </div>

        <div class="btn-group">
        <button type="button" class="btn ">
            <div id="demo1" class="carousel slide" data-ride="carousel"  style="width: 200px">

                    <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo1" data-slide-to="0" class="active"></li>
                    <li data-target="#demo1" data-slide-to="1"></li>
                    <li data-target="#demo1" data-slide-to="2"></li>
                </ul>

                    <!-- The slideshow -->
                <div class="carousel-inner" style="width: 200px">
                    <div class="carousel-item active">
                        <img src="/assets/images/test.png" style="width: 200px ; height: 550px" >
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/images/test.png" style="width: 200px ; height: 550px" >
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/images/test.png" style="width: 200px ; height: 550px" >
                    </div>
                </div>

                    <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo1" data-slide="prev" >
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo1" data-slide="next" >
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </button>
        </div>


    </body>
</html>
