<html >
    <head>
        <title>BBGunSports</title>

        <link rel="stylesheet" href="/assets/stylesheets/bootstrap-4.0.0-dist/css/bootstrap.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>




    </head>
    <body >

        <div class="font-family: 'Lucida Console'">
        <br><H3><font color="white">สินค้า</font></H3>

            <div class="dropdown dropright">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" style="width: 215px" data-toggle="dropdown">
                    <font color="white">Razer</font></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">
                        <a href="/M4"> <button type="button" class="btn btn-light">Razer DeathAdder Essential</button></a>
                    </a>
                    <a class="dropdown-item" href="#">
                        <a href="/AK"> <button type="button" class="btn btn-light">Razer DeathAdder Elite</button></a>
                    </a>
                    <a class="dropdown-item" href="#">
                        <a href="/G36"> <button type="button" class="btn btn-light">Razer Mamba Tournament Edition</button></a>
                    </a>
                </div>
            </div>

            <div class="dropdown dropright">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" style="width: 215px" data-toggle="dropdown">
                    <a href="/Gun"> <font color="white" >Zowie</font></a></button>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">
                        <button type="button" class="btn btn-light">EC</button>
                    </a>
                    <a class="dropdown-item" href="#">
                        <button type="button" class="btn btn-light">FK</button>
                    </a>
                    <a class="dropdown-item" href="#">
                        <button type="button" class="btn btn-light">ZA</button></a>
                </div>
            </div>

            <div class="dropdown dropright">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" style="width: 215px" data-toggle="dropdown">
                    <a href="/Gun"> <font color="white" >Input</font></a></button>


            </div>



        </div>

    </body>

